<nav *ngIf="shouldShowNavBar()">
  <a routerLink="/" routerLinkActive="active-link">Home</a>
  <a routerLink="/starter" routerLinkActive="active-link">Find a starter!</a>
  <a routerLink="/trainers" routerLinkActive="active-link">View Gym Leaders</a>
  <a routerLink="/wordle" routerLinkActive="active-link">Poke Wordle</a>
  <a routerLink="/whereami" routerLinkActive="active-link">Where Am I?</a>
  <a routerLink="/notes" routerLinkActive="active-link">Notes</a>
  <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
</nav>

<hr>

<router-outlet></router-outlet>